.container{
    border: 3px solid #a7aef1;
    background-color: #d9d9ea;
    display: flex;
    width: 100px;
    height: 50px;
    justify-content:space-between;
    flex-direction:row;
  }
  
  .container > .one:hover{
    background-color: #ffdcdc;
  }
  .one{
    border: 5px solid #f0ecc4;
    height: 50px;
    width: 200px;
  }